@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

:root {
    --primary-bg: #0ce3c3;
    --primary-color: #ffff;
    ---primary-color-hover: #f712c5;
    ---rating-color: rgb(251, 150, 17);
}



/* home-contents */
.home-contents {
    max-width: 1200px;
    margin: 0 auto;
}

/* nav bar  */
nav {
    padding: 10px 20px;
    /* background-color: var(--primary-bg); */
    background: rgb(0, 158, 207);
    background: radial-gradient(circle, rgba(0, 158, 207, 1) 0%, rgba(12, 242, 255, 1) 100%);
    display: flex;
    justify-content: space-between;

    .content-3 {
        #shopping-icon {
            display: none;
        }

        display: flex;
        align-items: center;
        gap: 10px;

        .shopping-cart {
            background-color: whitesmoke;
            padding: 10px 10px;
            border-radius: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            cursor: pointer;

            span {
                position: absolute;
                top: -5px;
                right: -7px;
                background-color: rgb(255, 68, 0);
                color: white;
                padding: 1px 6px;
                border-radius: 50px;
            }

            ion-icon {
                color: gray;
                font-size: 25px;
            }
        }
    }

    a {
        color: var(--primary-color);
        font-size: 25px;
        text-decoration: none;
        margin: 0 5px;
        transition: all 0.5s;
        font-weight: 500;
    }

    a:hover {
        color: var(---primary-color-hover);
    }
}

/* footer  */
footer {
    background-color: black;
    color: rgba(255, 255, 255, 0.963);

    .copy-write {
        padding: 20px 0;
        text-align: center;
        color: rgb(157, 156, 156);
    }

    .contents {
        padding: 50px 0;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 2fr;

        .title {
            font-size: 20px;
            font-weight: 700px;
        }

        p {
            margin-bottom: 10px;
            color: rgb(157, 156, 156);
            font-weight: 600;
            font-size: 18px;
        }

        .footer-col-1 {
            h3 {
                font-size: 18px;
                font-weight: 600px;
                margin: 20px 0 40px;
            }

            p {
                margin-bottom: 8px;
                color: rgb(157, 156, 156);
                font-weight: 600;
                font-size: 16px;
            }

            .icon {
                font-size: 25px !important;
            }
        }

        .footer-col-2,
        .footer-col-3,
        .footer-col-4 {
            h3 {
                margin-bottom: 20px;
            }
        }

        .footer-col-4 {
            img {
                width: auto;
                margin-top: 30px;
                /* width: 200px; */
                /* height: 200px; */
            }

            .solcial-media {
                font-size: 30px !important;

                ion-icon {
                    color: white;
                    cursor: pointer;
                }

                .facebook {
                    background-color: #3B5998;
                    padding: 10px;
                    border-radius: 50%;
                }

                .twitter {
                    background-color: #00ACEE;
                    padding: 10px;
                    border-radius: 50%;
                }

                .youtube {
                    background-color: #FF0000;
                    padding: 10px;
                    border-radius: 50%;
                }

                .instagram {
                    background: linear-gradient(to right, #cd4506, #ff51ab);
                    padding: 10px;
                    border-radius: 50%;
                }

                .pintarest {
                    background-color: #BD081C;
                    padding: 10px;
                    border-radius: 50%;
                }
            }


        }

    }
}

/* .page>.shopping-cart-div>input[type="checkbox"]:checked+#shopping-cart {
    display: none;
} */

/* .shopping-cart-div input[type="checkbox"]+.shopping-cart {
    display: block;
} */



/* shopping-cart */
.shopping-cart-container {
    position: fixed;
    top: 0px;
    right: 0;
    z-index: 6;

    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    /* padding: 15px; */

    .content {
        position: relative;
        background-color: white;
        position: inherit;
        top: inherit;
        right: 0;
        bottom: 0;
        min-width: 280px;
        max-width: 350px;
        height: 100vh;
        transition: all .5s;

        /* padding: 15px; */

        .cart-title-div {
            padding: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            h3 {
                margin-bottom: 5px;
                font-size: 24px;
                font-weight: 600;
            }

            img {
                cursor: pointer;
            }
        }

        /* carts  */
        .cart-container {
            width: inherit;
            padding: 15px;
            max-height: 52vh;
            overflow-y: scroll;
            overflow-x: hidden;
            margin-top: 0px;

            .single-cart {
                width: inherit;
                display: flex;
                gap: 8px;

                .single-cart-image {
                    width: 80px;
                    border-radius: 10px;
                }

                .single-cart-info {
                    flex-grow: 1;

                    p {
                        margin: 5px 0;
                    }
                }

                .remove-from-cart-btn {
                    width: 24px;
                    height: 24px;
                    border: none;
                    cursor: pointer;

                    img {
                        width: inherit;
                        height: inherit;
                        padding: 5px;
                        border-radius: 50%;
                        border: none;
                        background-color: red;
                        color: white;
                    }
                }
            }

            .single-cart:not(:last-child) {
                border-bottom: 1px solid grey;
                padding: 15px 0;
            }

            .single-cart:last-child {
                padding-top: 15px;
            }
        }

        /* cart-footer  */
        .cart-footer {
            position: absolute;
            bottom: 0px;
            right: 5px;
            margin-bottom: 10px;
            width: inherit;

            form {
                display: flex;
                align-items: center;

                input {
                    padding: 10px;
                    font-size: 16px;
                    border: 1px solid black;
                    outline: none;
                    cursor: pointer;
                }

                input[type="text"] {
                    width: 100%;

                }

                input[type="submit"] {
                    width: fit-content;
                    text-align: center;
                    font-weight: 600;
                    background-color: black;
                    color: white;
                    transition: all 0.5s;
                }
            }

            .subtotal-div {
                display: flex;
                align-items: center;
                justify-content: space-between;

                p,
                h3 {
                    font-size: 18px;
                    font-weight: 700;
                }
            }

            .subtotal-label {
                font-size: 18px;
                font-size: 600;
                margin: 5px 0;
            }

            .cart-submit-btn {
                display: block;
                margin: 10px 0;
                width: 100%;
                text-align: center;
                font-weight: 600;
                background-color: black;
                color: white;

                padding: 10px;
                font-size: 16px;
                border: 1px solid black;
                outline: none;
                cursor: pointer;
                transition: all 0.5s;
                text-transform: uppercase;
            }

            .cart-submit-btn:hover,
            input[type="submit"]:hover {
                background-color: rgb(29, 29, 29);
            }
        }
    }
}

/* .shopping-cart visible or not */
.visible {
    display: none;

    .content {}
}

/* cart  */
.quantity {
    display: flex;

    .quantity-btn {
        background-color: black;
        color: white;
        border: none;
        padding: 2px 5px;
        cursor: pointer;
        transition: all 0.3s;
    }

    .quantity-btn-minus {
        border-radius: 5px 0 0 5px;
    }

    .quantity-btn-plus {
        border-radius: 0 5px 5px 0;
    }

    .quantity-btn:hover {
        background-color: rgb(44, 42, 42);
    }

    #actual-quantity {
        width: 50px;
        height: 29px;
        text-align: center;
        padding-left: 15px;
        outline: none;
    }
}


/* page  */
.page {
    width: 100%;
    overflow-x: hidden;
}

/* all posts  */
.all-posts {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.single-post {
    width: 100%;
    border: 1px solid var(--primary-bg);
    border-radius: 10px;
    overflow: hidden;

    img {
        width: 100%;
    }

    div {
        padding: 5px;
        text-align: center;

        div {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        a {
            text-align: center;
            text-decoration: none;
        }
    }
}






/*------------------------------common css----------------------------*/
a {
    text-decoration: none;
    color: inherit;
}

.icon-image {
    height: 18px;
    display: inline;
}

.btn-outline {
    border: 1px solid var(--primary-bg);
    background-color: white;
    padding: 10px 20px;
    border-radius: 40px;
    text-transform: capitalize;
    font-size: medium;
    font-weight: 600;
    color: var(--primary-bg);
    cursor: pointer;
    width: fit-content;
    transition: all 0.5s;
}

.btn-outline:hover {
    background-color: var(--primary-bg);
    color: white;
}

.btn-solid {
    border: 1px solid white;
    background-color: white;
    padding: 10px 20px;
    border-radius: 40px;
    text-transform: capitalize;
    font-size: medium;
    font-weight: 600;
    color: var(--primary-bg);
    cursor: pointer;
    transition: all 0.5s;
    width: fit-content;
}

.btn-solid:hover {
    border: 1px solid var(--primary-bg);
    background-color: var(--primary-bg);
    color: white;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: inherit;
    width: inherit;
    max-height: inherit;
    min-height: inherit;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: inherit;
}

.divider {
    width: 100%;
    border-top: 1px solid rgb(174, 170, 170);
    margin: 20px auto;
}


/* swipper btns  */
.swiper-btns {
    position: relative;
    display: flex;
    gap: 120px;

    .swiper-button-prev::after,
    .swiper-button-next::after {
        content: none;
    }

    .swiper-button-prev,
    .swiper-button-next {
        background-color: var(--primary-bg);
        padding: 0 10px;
        border-radius: 25px;
        font-size: 20px;

        ion-icon {
            color: white;
        }
    }
}

.relative {
    position: relative;
    display: flex;
    gap: 100px;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.items-start {
    align-items: start;
}

.items-end {
    align-items: end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.gap-3 {
    gap: 12px;
}

.gap-2 {
    gap: 8px;
}

.capitalized {
    text-transform: capitalize;
}

.line-through {
    text-decoration: line-through;
}

.hidden {
    display: none;
}

/* .block {
    display: block;
} */